src/main/mule/trains-nrs-sys-api-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="3aff3240-0665-441f-9618-afeb3d022319" applicationName="mytrains-notifications-sys-api" environment="dev" applicationVersion="1.0.0-SNAPSHOT"/>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a9bcb8b5-cc28-45d1-8915-9fe6db42d69b" >
		<http:request-connection protocol="HTTPS" host="lite.realtime.nationalrail.co.uk" />
	</http:request-config>
	
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="8f2db2ac-b16b-49cb-8d4f-b713fae0643a" >
		<wsc:connection wsdlLocation="https://lite.realtime.nationalrail.co.uk/OpenLDBWS/wsdl.aspx?ver=2017-10-01" service="ldb" port="LDBServiceSoap" address="https://lite.realtime.nationalrail.co.uk/OpenLDBWS/ldb11.asmx" />
	</wsc:config>
	<flow name="trains-nrs-sys-api-getTrains" doc:id="e44ed288-d85f-4940-b9eb-171cd77d3bdc" >
		<json-logger:logger doc:name="Logger" doc:id="9f8cb471-94ef-4720-bada-2be4c371eccc" message="#['JSON Logger']" config-ref="JSON_Logger_Config" tracePoint="BEFORE_TRANSFORM"/>
		<ee:transform doc:name="Transform Message" doc:id="4702fab5-ffab-486f-8ef3-d36cf65b558d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://thalesgroup.com/RTTI/2017-10-01/ldb/
---
{
	ns0#GetArrBoardWithDetailsRequest: {
		ns0#numRows: message.attributes.queryParams.rows as Number,
		ns0#crs: message.attributes.queryParams.source as String,
		ns0#filterCrs: message.attributes.queryParams.destination as String
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="token" ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://thalesgroup.com/RTTI/2013-11-28/Token/types
---
{
headers : {
    ns0#AccessToken: {
        TokenValue: "1fd94cdf-a8db-4cd7-a9b8-5fcdd400939b"
    }
}
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="64b8eb9e-17c3-4a86-892a-ecd5f3ebf9f3" config-ref="JSON_Logger_Config" message="#['Json Logger']" tracePoint="BEFORE_REQUEST" />
		<wsc:consume doc:name="Consume" doc:id="946a971b-eb1b-4e2f-967c-97bd8aa73810" config-ref="Web_Service_Consumer_Config" operation="GetArrBoardWithDetails">
			<wsc:message>
				<wsc:headers ><![CDATA[#[vars.token]]]></wsc:headers>
			</wsc:message>
		</wsc:consume>
		<json-logger:logger doc:name="Logger" doc:id="9e018cc2-4931-41c3-b545-460f34700497" config-ref="JSON_Logger_Config" message="#['JSON Logger']" tracePoint="AFTER_REQUEST"/>
		<ee:transform doc:name="Transform Message" doc:id="61b192e2-ab70-4f57-bdf2-16c0c3ae0b95" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://thalesgroup.com/RTTI/2017-10-01/ldb
ns ns1 http://thalesgroup.com/RTTI/2017-10-01/ldb

---
payload.body.GetArrBoardWithDetailsResponse.GetStationBoardResult]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="32305b66-b1fc-4ca6-be31-3edbbd4048aa" message="#['JSON Logger']" tracePoint="AFTER_TRANSFORM" config-ref="JSON_Logger_Config" />
	</flow>
</mule>
